{% extends 'mybase.html' %} 
{% block content %}
{%load static%}





<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><b>List Of Unit Folders According To The Period</b></li>
    </ol>
  </nav>
<br>
<br>
<!-- Card -->
<div class="container">
  <div class="row">
    <div class="col-sm">
<div class="col-lg-10 col-md-12">
<div class="card mb-4">

  <!-- Card image -->
  {% load static%}
  <div class="view overlay">
    
    <img  class=card-img-top src="{% static 'images/munit.jpg' %} " alt="My image" width="100%" height="95px" />
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Button -->
  
  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <!-- <h4 class="card-title">Y1S1</h4> -->
    <hr>
    <!-- Text -->
    <p class="card-text"><a href="#!"style="color: rgb(50,205,50);font-size: 28px"><i class="fas fa-folder-open pr-2"
        aria-hidden="true"></i><b>Y1S1</b></a></p>
<a href="y1s1list" class="black-text d-flex justify-content-end" style="color: green;"><h5>View Units <i class="fas fa-angle-double-right"></i></h5></a>

  </div>

  <!-- Card footer -->
  
</div>
</div>
</div>
<!-- Card -->
<div class="col-sm">
<div class="col-lg-10 col-md-12">
<div class="card mb-4">

  <!-- Card image -->
  {% load static%}
  <div class="view overlay">
    
    <img  class=card-img-top src="{% static 'images/munit1.jpg' %} " alt="My image" width="100%" height="95px" />
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Button -->
  

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    
    <hr>
    <!-- Text -->
   <p class="card-text"><a href="#!"style="color: rgb(255, 88, 51);font-size: 28px"><i class="fas fa-folder-open pr-2"
        aria-hidden="true"></i><b>Y1S2</b></a></p>
<a href="y1s2list" class="black-text d-flex justify-content-end" style="color: green;"><h5>View Units <i class="fas fa-angle-double-right"></i></h5></a>

  </div>

  <!-- Card footer -->
  

</div>
</div>
</div>
<div class="col-sm">
<!-- Card -->
<div class="col-lg-10 col-md-12">
<div class="card mb-4">
  <!-- Card image -->
  {% load static%}
  <div class="view overlay">
    
    <img  class=card-img-top src="{% static 'images/munit2.jpg' %} " alt="My image" width="100%" height="95px" />
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Button -->
  
  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    
    <hr>
    <!-- Text -->
<p class="card-text"><a href="#!"style="color: rgb(218, 51, 255  );font-size: 28px"><i class="fas fa-folder-open pr-2"
        aria-hidden="true"></i><b>Y2S1</b></a></p>
<a href="y2s1list" class="black-text d-flex justify-content-end" style="color: green;"><h5>View Units <i class="fas fa-angle-double-right"></i></h5></a>

  </div>

  <!-- Card footer -->
 

</div>
</div>
</div>
<div class="col-sm">
<!-- Card -->
<div class="col-lg-10 col-md-12">
<div class="card mb-4">

  <!-- Card image -->
  {% load static%}
  <div class="view overlay">
    
    <img  class=card-img-top src="{% static 'images/munit3.jpg' %} " alt="My image" width="100%" height="95px" />
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Button -->
  

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    
    <hr>
    <!-- Text -->
    <p class="card-text"><a href="#!"style="color: rgb(51, 134, 255  );font-size: 28px"><i class="fas fa-folder-open pr-2"
        aria-hidden="true"></i><b>Y2S2</b></a></p>
<a href="y2s2list" class="black-text d-flex justify-content-end" style="color: green;"><h5>View Units <i class="fas fa-angle-double-right"></i></h5></a>

  </div>

  <!-- Card footer -->
  

</div>
</div>
</div>
<div class="row">
<div class="col-sm">
<!-- Card -->
<div class="col-lg-10 col-md-12">
<div class="card mb-4">
  <!-- Card image -->
  {% load static%}
  <div class="view overlay">
    
    <img  class=card-img-top src="{% static 'images/munit4.jpg' %} " alt="My image" width="100%" height="95px" />
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Button -->
  

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    
    <hr>
    <!-- Text -->
    <p class="card-text"><a href="#!"style="color: rgb(3, 44, 97    );font-size: 28px"><i class="fas fa-folder-open pr-2"
        aria-hidden="true"></i><b>Y3S1</b></a></p>
<a href="y3s1list" class="black-text d-flex justify-content-end" style="color: green;"><h5>View Units <i class="fas fa-angle-double-right"></i></h5></a>

  </div>

  <!-- Card footer -->
  
</div>
</div>
</div>



<div class="col-sm">
<!-- Card -->
<div class="col-lg-10 col-md-12">
<div class="card mb-4">

  <!-- Card image -->
  {% load static%}
  <div class="view overlay">
    
    <img  class=card-img-top src="{% static 'images/munit5.jpg' %} " alt="My image" width="100%" height="95px" />
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Button -->
  

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    
    <hr>
    <!-- Text -->
    <p class="card-text"><a href="#!"style="color: rgb(255, 138, 51  );font-size: 28px"><i class="fas fa-folder-open pr-2"
        aria-hidden="true"></i><b>Y3S2</b></a></p>
<a href="y3s2list" class="black-text d-flex justify-content-end" style="color: green;"><h5>View Units <i class="fas fa-angle-double-right"></i></h5></a>

  </div>

  <!-- Card footer -->
  

</div>
</div>
</div>
<div class="col-sm">
<!-- Card -->
<div class="col-lg-10 col-md-12">
<div class="card mb-4">
  <!-- Card image -->
  {% load static%}
  <div class="view overlay">
    
    <img  class=card-img-top src="{% static 'images/munit6.jpg' %} " alt="My image" width="100%" height="95px" />
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Button -->
  

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <hr>
    <!-- Text -->
    <p class="card-text"><a href="#!"style="color: rgb(205, 4, 25  );font-size: 28px"><i class="fas fa-folder-open pr-2"
        aria-hidden="true"></i><b>Y4S1</b></a></p>
<a href="y4s1list" class="black-text d-flex justify-content-end" style="color: green;"><h5>View Units <i class="fas fa-angle-double-right"></i></h5></a>


  </div>

  <!-- Card footer -->
  

</div>
</div>
</div>
<div class="col-sm">


<div class="col-sm">
<!-- Card -->
<div class="col-lg-10 col-md-12">
<div class="card mb-4">

  <!-- Card image -->
  {% load static%}
  <div class="view overlay">
    
    <img  class=card-img-top src="{% static 'images/munit7.jpg' %} " alt="My image" width="100%" height="95px" />
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Button -->
  

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    
    <hr>
    <!-- Text -->
   <p class="card-text"><a href="#!"style="color: rgb(24, 3, 138  );font-size: 28px"><i class="fas fa-folder-open pr-2"
        aria-hidden="true"></i><b>Y4S2</b></a></p>
<a href="y4s2list" class="black-text d-flex justify-content-end" style="color: green;"><h5>View Units <i class="fas fa-angle-double-right"></i></h5></a>

  </div>

  <!-- Card footer -->
 

</div>
</div>
</div>
</div>
</div>
<!-- Card -->
{% endblock %}