{% extends 'mybase.html' %} 
{% block content %}
{% block content_header %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><b>Year1 Semester1 courses</b></li>
    </ol>
  </nav>

{% endblock %}
<br><br>
<table id="dtBasicExample" class="table  table-bordered table-responsive-md" cellspacing="0" width="100%">
	<thead class="text-dark" style="background-color: rgb(119,136,153);">
		<tr>
			<th>Period</th>
			<th>Code</th>
			<!-- <th>Tittle</th> -->
			<th>Instructor</th>
			<!-- <th>CF</th> -->
			
		</tr>
	</thead>
	<tbody>
		{% for unit in y1s1 %}
		<tr>
			<td>
				{{ unit.Period}}
			
			</td>
			<td>
				{{ unit.course}}
			
			</td>
			<!-- <td>{{ unit.course.title }}</td> -->
			<td>{{ unit.Instructor }}</td>
			<!-- <td>{{unit.course.CF}} -->
			</td>
		
		</tr>
		{% endfor %}
		
	</tbody>
		
</table>
<script>
  $(document).ready(function() {
    $('#dtBasicExample').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>

{% endblock %}