           
 
 {%extends 'CommList.html'%}

{% load crispy_forms_tags %}
{% load staticfiles %}
{%load static %}



	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" rel="stylesheet">
        
        
        
        <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      
 
                  <!--JQuery--> 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
                  <!--Bootstrap core JavaScript--> 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
                  <!--MDB core JavaScript--> 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>
        
        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
         
        s
       
    </head>



       {% block content%}    



 
<table id="dtBasicExample" class="table  table-bordered table-responsive-md" cellspacing="0" width="100%" style="margin-right: 500px; 
">
  <thead class="text-dark" >
    <tr>
      <th><b>Anouncements</b></th>
      <th></th>
      
    </tr>
  </thead>
  <tbody style="background-color: whitesmoke;">
   {% for comm in searchcomms %}
    <tr>
      <td><p class="divbutton"><strong><a href="{% url 'view_message' comm.id %}" style="font-size: 22px; color: rgb(0,0,0);">{{comm.Title}} from {{comm.lecturer}}    <i style="color: grey;font-size: 15px;">{{comm.date}}</i> </strong></a></p></td>
      
    <td>
        <form method="POST" action="{% url 'delete_comm' comm.pk %}" class="dbutt">
          {% csrf_token %}
          <button  type="submit" class="btn btn-outline-danger btn-sm" ><i class="far fa-trash-alt"></i></button>
          <!-- reply <i class="fas fa-reply">
 -->

        </form></td>
    </tr>
    {% endfor %}
    
  </tbody>

   
</table>

	
	
	<!-- <button id="but" class="btn btn-primary">Reply</button>
 -->


	
	<!-- <form id="textID" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{form|crispy}}
		
		<button type="submit" class="btn btn-primary">Send</button>
	</form>
<script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}" />
<script type ="text/javascript">

		$(document).ready(function(){
			$("#but").click(function(){
				$("#textID").toggle(500);} 

			);
});		
</script>
	
 -->
{% endblock %}

