
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" rel="stylesheet">



        <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


                  <!--JQuery-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
                  <!--Bootstrap core JavaScript-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
                  <!--MDB core JavaScript-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>


        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark default-color">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
      </li>

    </ul>
  </div>
</nav>

<div class="row justify-content-center">
  <div class="col-6">
    <div class="card" style="background-color: whitesmoke">
      <div class="card-body">

<h1>Egerton University Njoro Campus </h1>
<p> Email Address: info@egerton.ac.ke </p>
<p>Tel : 254-051-2217891/2 254-051-2217781</p>
<p>Address: P.O Box 536 Egerton 20115 Kenya </p>
<h1>Egerton University Nakuru Town campus</h1>
<p>Email Address: info@egerton.ac.ke </p>
<p>Tel : 254-051-2217891/2 254-051-2217781 </p>
<p>Address: P.O Box 536 Egerton 20115 Kenya</p>
<h1>NAIROBI CAMPUS </h1>
<p>Located at Stanbank House, Moi Avenue (Opposite Hilton Hotel).</p>
<p>Tel: 0736309390, 0704309390</p>
          </div>
    </div>
  </div>
</div>